* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(37, 38, 75);
  position: sticky;
  color: rgb(153, 185, 185);
  z-index: 999999;
  height: 80px;
  width: 100%;
}

.navbar h1 {
  font-size: 40px;
}

.links a {
  margin: 0 30px;
  color: rgb(130, 150, 150);
  text-decoration: none;
}

.content {
  position: relative;
  width: auto;
  height: 50vh;
  color: aliceblue;
}
.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(146, 202, 209);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.position p {
  margin: 20px 0;
}
